@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {
	--dark: #111213;
	--soft-dark: #393E46;
	--green: #4ECCA3;
	--gray: #EEEEEE;
	--white: #fff;
	--yellow: #FFD523;
	--dark-theme: #2C2E43;
}


.light {
	--text-color-dark: var(--dark);
	--text-color: var(--soft-dark);
	--bg-color: var(--white);
	--primary: var(--green);
	--btn-text-color: var(--gray);
}

.dark {
	--text-color-dark: var(--white);
	--text-color: var(--gray);
	--bg-color: var(--dark-theme);
	--primary: var(--yellow);
	--btn-text-color: var(--dark-theme);
}

* {
	box-sizing: border-box;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
}

html, body {
	background: var(--bg-color);
	margin: 0;
	font-size: 16px;
	transition: background 100ms ease-out;
	color: var(--text-color);
}

.container {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: repeat(2, 600px);
}

#data-preview {
	color: var(--text-color);
	overflow: scroll;
	height: 40vh;
	width: 95%;
	margin: 0 auto;
	padding: .5rem;
	border-left: 1px solid var(--text-color);
}

.markdown-container {
	width: 90%;
	margin: 0 auto;
}

.form {
	display: flex;
	width: 95%;
	margin: 0 auto;
	flex-direction: column;
}

.text--center {
	text-align: center;
}

.btn {
	padding: 1rem;
	width: 90%;
	border-radius: 8px;
	font-size: 1.25rem;
	border: 1px solid var(--white);
}

.btn-outline {
	background: var(--bg-color);
	border: 1px solid var(--primary);
	color: var(--primary);
	margin: .25rem auto;
	transition: background 100ms ease-in, filter 50ms ease-out;
}

.btn-outline:hover {
	background: var(--primary);
	color: var(--btn-text-color);
	cursor: pointer;
	font-size: 1.30rem;
	filter: contrast(150%);
}

.btn-primary {
	background-color: var(--primary);
	border: 1px solid var(--primary);
	color: var(--btn-text-color);
	margin: .5rem auto;
	transition: filter 50ms ease-out;
}

.btn-primary:hover {
	cursor: pointer;
	filter: contrast(150%);
}

.circle {
	background-color: var(--bg-color);
	width: 32px;
	height: 32px;
	border-radius: 50%;
	border: 4px solid var(--text-color-dark);
}

.circle:hover {
	cursor: pointer;
}

textarea {
	background-color: var(--bg-color);
	color: var(--text-color);
	border: 1px solid var(--primary);
	border-radius: 4px;
}

blockquote {
	background-color: var(--gray);
	color: var(--text-color);
	padding: 1rem;
}

strong {
	color: var(--text-color-dark);
	font-weight: 500;
}

.textarea-desktop {
	height: 40vh;
	width: 90%;
	margin: 0 auto;
}

@media only screen and (min-width: 800px) {
	.container {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: 90vh;
	}

	.textarea-desktop {
		height: 60vh;
	}

	#data-preview {
		display: flex;
		flex-direction: column;
		align-self: center;
		height: 100%;
		padding: 1rem;
	}
}